*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56; 
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;

}


body{
    font-family: 'Times New Roman', sans-serif;
    color: var(--primary-text-color);
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline :auto;
    overflow: hidden;
}

nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top:0;
    right: 0;
    left:0;
    z-index: 99;
}

.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img{
    width: 120px;
}

.nav-links ul{
    gap: 20px;
}

.hover-link{
    cursor: pointer;
}
.hover-link:hover{
    font-weight: bold;
}
.hover-link:active{
    color: burlywood;
}

.search-bar{
    height: 32px;
    gap: 8px;
}

.news-input{
    width: 200px;
    height: 100%;
    padding-inline:12px;
    border-radius: 4px;
    border: 2px solid rgb(42, 40, 40);
    font-family: 'Times New Roman', Times, serif;
}

.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.search-button:hover{
    background-color: var(--accent-color-dark);
}